@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  text-align: center;
}

/* Add commas after each list item except the last one */
.commaList li:not(:last-child)::after {
  content: ", ";
}
/*
  Add a space after each list item except the last one
  Use in combination with comma List to add space between
  the element and the comma
*/
.listSpace li:not(:last-child)::after {
  margin-left: 0.25em;
}
