@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /*
    Currently unused since tailwind 3.4 now supports h-dvh out-of-the-box.
    This does mean that there is no fallback anymore but...
    It works on my machine ¯\_(ツ)_/¯
  */
  .hs-screen {
    height: 100vh; /* Fallback for browsers that do not support dvh */
    height: 100dvh;
  }
}

#root {
  text-align: center;
}

/* Add commas after each list item except the last one */
.commaList li:not(:last-child)::after {
  content: ", ";
}
/*
  Add a space after each list item except the last one
  Use in combination with comma List to add space between
  the element and the comma
*/
.listSpace li:not(:last-child)::after {
  margin-left: 0.25em;
}
